{% capture categories %}
  {% if post %}
    {% unless post.categories.size == 0 %}
      <span>{{ post.categories.first }}</span>
    {% endunless %}
  {% else %}
    {% unless page.categories.size == 0 %}
      <span>{{ page.categories.first }}</span>
    {% endunless %}
  {% endif %}
{% endcapture %}
{% capture category_size %}{{ categories | strip_newlines | replace: ' ', '' | size }}{% endcapture %}
{% unless category_size == '0' %}
<span class="categories">
  <i class="fa fa-th-list"></i>{{ categories }}
</span>
{% endunless %}
